# dependencies
/node_modules

# next.js
/.next
/out

# production
/build

# misc
.DS_Store
*.log
*.tsbuildinfo

# env
.env*
!.env.example

# coverage
/coverage

# documentation
/docs

# legacy data exports
*.pyc
__pycache__/
